ENV=production|staging
TAG=latest|staging-latest
DUMP_DIR=~/otr-db-dumps
DB_PORT=5432|5532
DB_CONTAINER=otr-prod-db|otr-staging-db
DB_USER=postgres
DB_NAME=postgres
DB_PASSWORD=password
GCS_PROD_BUCKET=otr-prod-dumps
GCS_PUBLIC_BUCKET=otr-public-replica
GCS_DEV_BUCKET=otr-dev-replica
GCS_SA_JSON_PATH=/path/to/service-account/key.json
RABBITMQ_URL=amqp://admin:admin@localhost:5672